<p id="notice"><%= notice %></p>

<% if user_signed_in? %>

<h1>Meetings</h1>

<%= SimpleCalendar::MonthCalendar.new(self, events: @meetings).render do |day| %>
  <%= day %>
<% end %>

<% start_date = params.fetch(:start_date, Date.today).to_date %>
<% date_range = (start_date..(start_date + 3.days)).to_a %>


<table class>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start time</th>
      <th>End time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @meetings.each do |meeting| %>
      <tr>
        <td><%= meeting.name %></td>
        <td><%= meeting.start_time %></td>
        <td><%= meeting.end_time %></td>
        <td><%= link_to 'Show', meeting %></td>
        <td><%= link_to 'Edit', edit_meeting_path(meeting) %></td>
        <td><%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table class>

<br>

<%= link_to 'New Meeting', new_meeting_path %>

<% else %>
<h3>Please login to continue.</h3>
<% end %>
