<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @patient.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @patient.lastname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @patient.address %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @patient.dob %>
</p>

<p>
  <strong>Illness:</strong>
  <%= @patient.illness %>
</p>

<h4>Enter the patient's symptoms or illness</h4>
<h8>Only key words. Etc. Heart, Brain, Spine</h8>
        <%= form_tag ("/validate") do %>
        <%= text_field_tag :suggest %>
        <%= submit_tag "Priority" %>
        <% end %>

<%= link_to 'Edit', edit_patient_path(@patient) %> 
<%= link_to 'Back', patients_path %>
